/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


:root{

  /*Colors */

/*Primary */

--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Very-dark-blue);
}

img{
  max-width: 100%;
  
}

.card{
  width: 80%;
  height: 90%;
  font-family: 'Inter', sans-serif;
  background-color: var(--Dark-desaturated-blue);
  color: white;
  border-radius: 10px;
}

.img-bg{
  width: 100%;
  height: 35%;
  background: url(images/image-header-mobile.jpg);
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.info{
  width: 100%;
  height: 65%;
  border-radius: 10px;
}

.info h2{
  font-size: 1.7rem;
  font-weight: 700;
 
  padding: 20px 30px;
  text-align: center;
}

h2 span{
  color: var(--Soft-violet);
}

.main-paragraph{
  font-size: 0.9rem;
  padding: 0 1rem;
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.5;
}

.container-itens{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.item{
  padding: 1rem;
  text-align: center;
}

.item span{
  font-weight: bold;
  font-size: 1rem;
}

.attribution{
  margin-top: 10px;
  color: white;
  font-size: 1em;
}